@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="sign section--bg" data-bg="../../img/section/section.jpg">
	<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sign__content">
					<!-- authorization form -->
                    <form method="post" class="sign__form">
                        <a asp-controller="Home" asp-action="Index" class="sign__logo">
							<img src="~/img/MovieProLogo-Dark.png" alt="MoviePro Logo">
						</a>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="sign__group">
                            <input asp-for="Input.Email" class="form-control sign__input" autocomplete="username" aria-required="true" placeholder="Email" />
                            <span asp-validation-for="Input.Email" class="text-danger" style="color: indianred;"></span>
						</div>

                        <div class="sign__group sign__group--checkbox">
							<input id="remember" name="remember" type="checkbox" checked="checked">
							<label for="remember">I agree to the <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a></label>
						</div>

                        <button type="submit" class="sign__btn w-100 btn btn-lg btn-primary">Reset Password</button>

                        <span class="sign__text">We will send a password to your Email</span>
                    </form>
                    <!-- end authorization form -->
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
